In [1]:
from sklearn.feature_selection import RFECV
from sklearn.linear_model import Lasso, ElasticNetCV
from sklearn.linear_model import Ridge
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("data/train_fe.csv")

In [3]:
X = train.drop(["clientnum", "attrition_flag"], axis = 1)
y = train["attrition_flag"]

In [4]:
estimator = ElasticNetCV(alphas=[0.1,0.3,0.5], cv =3)
selector = RFECV(estimator, min_features_to_select=20, step=10)
selector = selector.fit(X, y)
rfe = selector.ranking_
features = list(selector.feature_names_in_)
rfe_df = pd.DataFrame({'features': features, 'rfe_rank': rfe}, index = np.arange(len(features)))

In [5]:
rfe_df

                                    features  rfe_rank
0                        customer_age_scaled         6
1                                   gender_f         5
2                                   gender_m         4
3                     dependent_count_scaled         3
4                    education_level_college         2
..                                       ...       ...
61       marriage_education_unknown_graduate         2
62    marriage_education_unknown_high_school         2
63  marriage_education_unknown_post_graduate         2
64     marriage_education_unknown_uneducated         1
65        marriage_education_unknown_unknown         1

[66 rows x 2 columns]

In [6]:
columns_to_use = list(rfe_df[rfe_df["rfe_rank"] <= 3]["features"])
columns_to_use

['dependent_count_scaled',
 'education_level_college',
 'education_level_doctorate',
 'education_level_graduate',
 'education_level_high_school',
 'education_level_post_graduate',
 'education_level_uneducated',
 'education_level_unknown',
 'marital_status_divorced',
 'marital_status_married',
 'marital_status_single',
 'marital_status_unknown',
 'income_category_$120k_+',
 'income_category_$40k_$60k',
 'income_category_$60k_$80k',
 'income_category_$80k_$120k',
 'income_category_less_than_$40k',
 'income_category_unknown',
 'card_category_blue',
 'card_category_gold',
 'card_category_platinum',
 'card_category_silver',
 'months_on_book_scaled',
 'total_relationship_count_scaled',
 'marriage_education_single_graduate',
 'marriage_education_single_high_school',
 'marriage_education_single_post_graduate',
 'marriage_education_single_uneducated',
 'marriage_education_single_unknown',
 'marriage_education_unknown_college',
 'marriage_education_unknown_doctorate',
 'marriage_education_unknown_graduate',
 'marriage_education_unknown_high_school',
 'marriage_education_unknown_post_graduate',
 'marriage_education_unknown_uneducated',
 'marriage_education_unknown_unknown']